<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <!-- modals go here -->

    <!-- navbar here -->
    <%- include('../partials/navbar'); %>
    <%- include('../partials/navbarSpacer'); %>

    <!-- page content here -->
    <h1 class="appointments-title">Appointments</h1>
    <div class="appointments-container">
        <%- include('../partials/appointmentCard'); %>
        <%- include('../partials/appointmentCard'); %>
    </div>

    <%- include('../partials/footer'); %>

    
</body>

</html>