<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>

    <script type="module" src="../../scripts/main.js"></script>
</head>

<body class="container">
    <% let tempUsers=allUsers %> <!-- .filter((user) => user.accountType == 'student') -->
    <%
        const filterByType = (type) => {
            console.log('hi')
            switch (type) {
                case 'student': 
                    tempUsers = allUsers.filter((user) => user.accountType === 'student');
                    break;
                case 'teacher': 
                    tempUsers = allUsers.filter((user) => user.accountType === 'teacher');
                    break;
                case 'admin': 
                    tempUsers = allUsers.filter((user) => user.accountType === 'admin');
                    break;
                default:
                    tempUsers = allUsers;
            }
        }
    %>
    <script>
        const test = '<%= filterByType %>';
        console.log(test);
    </script>

    <!-- modals go here -->
    <%- include('../../partials/accountModal'), { allUsers } %>

    <!-- navbar here -->
    <%- include('../../partials/navbar'); %>
    <!-- use navbar spacer if you don't want things to go behind the navbar -->
    <%- include('../../partials/navbar-spacer'); %>

    <!-- page content here -->
    <h1 class="page-title">Accounts</h1>

    <br>

    <div class="account-filters">
        <input type="search" id="accountSearch" placeholder="Search..." oninput="searchUsers(this.value)">
        <div class="dropdown-menu">
            <select name="acctType" id="acctType" onchange="filterByType(this.value)">
                <option value="all">All</option>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
                <option value="admin">Admin</option>
            </select>
            <select name="sort" id="sort" onchange="sortByUser(this.value)">
                <option value="a-z">A-Z</option>
                <option value="z-a">Z-A</option>
            </select>
        </div>
    </div>

    <br>

    <div id="allAccounts"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../../scripts/prevApptModal.js"></script>
    <script src="../../scripts/accountFilter.js"></script>

    <%- include('../../partials/footer'); %>
</body>

</html>