<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container" id="newApptPage">
    <%- include('../../partials/modals/acknowledgmentModal', { title: "Success!", text: "You successfully submitted a new appointment" }); %>
    <%- include('../../partials/modals/acknowledgmentModal', { title: "Error" ,text: "Not all parameters were filled" }); %>

    <%- include('../../partials/admin-navbar'); %>
    <!-- use navbar spacer if you don't want things to go behind the navbar -->
    <%- include('../../partials/navbar-spacer'); %>
    
    <div class="newApptContainer">
        <h1 class="page-title" id="newApptTitle">Schedule Appointment</h1>
        
        <form id="new-appt-form">
            <input type="text" placeholder="Name" name="name" id="name-input">
            <input type="email" placeholder="Email" name="email" id="email-input">
            <input type="date" name="date" id="date-input">
            <input type="time" name="time" id="time-input">
        
            <div class="dropdown-input">
                <div class="title-row">
                    <p>Hair</p>
                    <i class="fas fa-angle-down"></i>
                </div>
        
                <div class="panel">
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="haircut" id="haircut" value="9">
                        <label class="checkbox-label" for="haircut">Haircut</label>
                        <p>$9</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="bang-cut" id="bang-cut" value="5">
                        <label class="checkbox-label" for="bang-cut">Bang Cut</label>
                        <p>$5</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="formal-style" id="formal-style" value="20">
                        <label class="checkbox-label" for="formal-style">Special Occasion / Formal Style</label>
                        <p>$20+</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="braid" id="braid" value="30">
                        <label class="checkbox-label" for="braid">Braid / Twist / Full Style</label>
                        <p>$30</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="full-thermal-style" id="full-thermal-style" value="20">
                        <label class="checkbox-label" for="full-thermal-style">Full Thermal Style</label>
                        <p>$20</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="wet-style" id="wet-style" value="10">
                        <label class="checkbox-label" for="wet-style">Wet Style</label>
                        <p>$10</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="blowout-style" id="blowout-style" value="12">
                        <label class="checkbox-label" for="blowout-style">Blowout Style</label>
                        <p>$12</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="shampoo" id="shampoo" value="3">
                        <label class="checkbox-label" for="shampoo">Shampoo</label>
                        <p>$3</p>
                    </div>
                </div>
            </div>
        
            <div class="dropdown-input">
                <div class="title-row">
                    <p>Color</p>
                    <i class="fas fa-angle-down"></i>
                </div>
        
                <div class="panel">
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="hair-color" id="hair-color" value="25">
                        <label class="checkbox-label" for="hair-color">Hair Color</label>
                        <p>$25+</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="full-foil" id="full-foil" value="40">
                        <label class="checkbox-label" for="full-foil">Full Foil</label>
                        <p>$40+</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="partial-foil" id="partial-foil" value="30">
                        <label class="checkbox-label" for="partial-foil">Partial Foil</label>
                        <p>$30+</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="ind-foils" id="ind-foils" value="3">
                        <label class="checkbox-label" for="ind-foils">Individual Foils</label>
                        <p>$3</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="lighten&tone" id="lighten&tone" value="45">
                        <label class="checkbox-label" for="lighten&tone">Lighten & Tone</label>
                        <p>$45+</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="ombre" id="ombre" value="50">
                        <label class="checkbox-label" for="ombre">Ombre / Balyage</label>
                        <p>$50+</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="extra-color" id="extra-color" value="10">
                        <label class="checkbox-label" for="extra-color">Extra Color</label>
                        <p>$10</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="intensity-color" id="intensity-color" value="10">
                        <label class="checkbox-label" for="intensity-color">Intensity Color</label>
                        <p>$10</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="color-correction" id="color-correction" value="0">
                        <label class="checkbox-label" for="color-correction">Color Correction</label>
                        <p>By Consultation</p>
                    </div>
                </div>
            </div>
        
            <div class="dropdown-input">
                <div class="title-row">
                    <p>Chemical Texturing</p>
                    <i class="fas fa-angle-down"></i>
                </div>
        
                <div class="panel">
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="perm" id="perm" value="25">
                        <label class="checkbox-label" for="perm">Perm</label>
                        <p>$25</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="specialty-wrap" id="specialty-wrap" value="35">
                        <label class="checkbox-label" for="specialty-wrap">Specialty Wrap</label>
                        <p>$35</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="extra-perm-box" id="extra-perm-box" value="10">
                        <label class="checkbox-label" for="extra-perm-box">Extra Perm Box</label>
                        <p>$10</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="relaxer" id="relaxer" value="45">
                        <label class="checkbox-label" for="relaxer">Relaxer</label>
                        <p>$45</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="curl-reformation" id="curl-reformation" value="45">
                        <label class="checkbox-label" for="curl-reformation">Curl Reformation</label>
                        <p>$45</p>
                    </div>
                </div>
            </div>
        
            <div class="dropdown-input">
                <div class="title-row">
                    <p>Add on Services</p>
                    <i class="fas fa-angle-down"></i>
                </div>
        
                <div class="panel">
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="flat" id="flat" value="5">
                        <label class="checkbox-label" for="flat">Flat / Curling Iron</label>
                        <p>$5</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="deep-condition" id="deep-condition" value="5">
                        <label class="checkbox-label" for="deep-condition">Deep Condition</label>
                        <p>$5</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="scalp-treatment" id="scalp-treatment" value="5">
                        <label class="checkbox-label" for="scalp-treatment">Scalp Treatment</label>
                        <p>$5</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="individual-braid" id="individual-braid" value="5">
                        <label class="checkbox-label" for="individual-braid">Individual Braid</label>
                        <p>$5</p>
                    </div>
        
                    <div class="dropdown-row">
                        <input class="checkbox" type="checkbox" name="high-frequency" id="high-frequency" value="5">
                        <label class="checkbox-label" for="high-frequency">High Frequency</label>
                        <p>$5</p>
                    </div>
                </div>
            </div>
        
            <h2>Additional Information</h2>
            <textarea name="notes" id="add-notes" placeholder="Notes" cols="30" rows="10" maxlength="1000"></textarea>
        
            <div id="price-calculator">
                <div class="appt-time">
                    <p id="no-date">Input a date and time</p>
                    <p id="display-date"></p>
                    <p id="display-time"></p>
                </div>
                <div class="price-calc-right">
                    <p id="estimated-price">Estimated Price: $0</p>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>

    <script src="../../scripts/admin/newAppointment.js"></script>
</body>
</html>